In [31]:
import pandas as pd

In [5]:
data = pd.read_csv('catsvdogs.csv', nrows = 49)

Neat dataset I found on data.world, it contains the population and ownership by household of dogs and cats broken down by state via American Veterinary Medical Association.

In [7]:
data.head()

,Location,Number of Households (in 1000),Percentage of households with pets,Number of Pet Households (in 1000),Percentage of Dog Owners,Dog Owning Households (1000s),Mean Number of Dogs per household,Dog Population (in 1000),Percentage of Cat Owners,Cat Owning Households,Mean Number of Cats,Cat Population
0,Alabama,"1,828",59.5,"1,088",44.1,807,1.7,"1,410",27.4,501,2.5,"1,252"
1,Arizona,"2,515",59.5,"1,497",40.1,"1,008",1.8,"1,798",29.6,743,1.9,"1,438"
2,Arkansas,1148,62.4,716,47.9,550,2.0,"1,097",30.6,351,2.3,810
3,California,"12,974",52.9,"6,865",32.8,"4,260",1.6,"6,687",28.3,"3,687",1.9,"7,118"
4,Colorado,"1,986",61.3,"1,217",42.5,845,1.6,"1,349",32.3,642,1.9,1191

In [28]:
dog_houses = data['Dog Owning Households (1000s)'].apply(lambda x: x.replace(',', '')).astype(int)
cat_houses = data['Cat Owning Households'].apply(lambda x: x.replace(',', '')).astype(int)

In [ ]:
# just a quick test to compare the number of dog owning households to
# the cat owning households

## Paired Studentâ€™s t-test
Tests whether the means of two paired samples are significantly different.

Assumptions

* Observations in each sample are independent and identically distributed (iid).
* Observations in each sample are normally distributed.
* Observations in each sample have the same variance.
* Observations across each sample are paired.

Interpretation

* H0: the means of the samples are equal.
* H1: the means of the samples are unequal.

In [30]:
# Example of the Paired Student's t-test
from scipy.stats import ttest_rel
stat, p = ttest_rel(dog_houses, cat_houses)
print('stat=%.3f, p=%.5f' % (stat, p))
if p > 0.05:
    print('Probably the same distribution')
else:
    print('Probably different distributions')

stat=4.098, p=0.00016
Probably different distributions

The p-value is low, so we reject the null hypothesis and conclude that the means of the samples are unequal